body {
    text-align: center;
    direction: ltr;
}

h1 {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
}

.game-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f8f9fa;
}

.game-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.memory-game-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
}
.game-info {
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    align-items: center;
    display: none
    
}

.memory-game {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.memory-card {
    width: 105px;
    height: 105px;
    position: relative;
    cursor: pointer;
    user-select: none;
    perspective: 1000px;
}

.memory-card img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.memory-card .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/card_back.jpg');
    background-size: cover;
}

.memory-card .card-front {
    display: none;
}

.memory-card.flipped .card-front {
    display: block;
}

.memory-card.flipped .card-back {
    display: none;
}

#login-container {
    padding: 50px;
}